*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  .banner{
    width: 100%;
    height: 100%;
    background: #2c5ea0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 0;
  }
  .title{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .miniblog{
    color: #fff;
    font-size: 30px;
    margin-top: 10px;
  }
  .loginT{
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 0;
  }

    .container {
      
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding: 2rem;
      background-color: #fff;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .form {
      width: 100%;
      max-width: 820px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      overflow: hidden;
      display: grid;
      margin-top: -625px;
    }
    
    .login-form {
      background-color: #fff;
      position: relative;
    }
    .form {
      padding: 2.3rem 2.2rem;
      z-index: 10;
      overflow: hidden;
      position: relative;
      margin-top: -500px;
    }
    
    .title {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
      margin-bottom: 0.7rem;
    }
    .input-container {
      position: relative;
      margin: 1rem 0;
    }
    
    .input {
      margin-right: 50px;
      width: 100%;
      border: none;
      border-bottom: 1px solid #888;
      background: none;
      padding: 0.6rem 0.6rem;
      color: #000;
      font-weight: 500;
      font-size: 0.95rem;
      letter-spacing: 0.5px;
      transition: 0.3s;
    }
    
    textarea.input {
      padding: 0.8rem 0.6rem;
      min-height: 150px;
      border-radius: 22px;
      resize: none;
      overflow-y: auto;
    }
    
    .input-container label {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      padding: 0 0.4rem;
      color: #000;
      font-size: 0.9rem;
      font-weight: 400;
      pointer-events: none;
      z-index: 1000;
      transition: 0.5s;
    }
    
    .input-container.textarea label {
      top: 1rem;
      transform: translateY(0);
    }
    
    .btn {
      padding: 0.6rem 1.3rem;
      background-color: #2e867b;
      font-size: 0.95rem;
      color: #ffffff;
      outline: none;
      cursor: pointer;
      margin: 0;
      border: none;
    }
    button {
        padding: 0.6rem 1.3rem;
        background-color: #2e867b;
        font-size: 0.95rem;
        color: #ffffff;
        outline: none;
        cursor: pointer;
        margin: 0;
        border: none;
      }
    .input-container span {
      position: absolute;
      top: 0;
      left: 25px;
      transform: translateY(-50%);
      font-size: 0.8rem;
      padding: 0 0.4rem;
      color: transparent;
      pointer-events: none;
      z-index: 500;
    }
    .loginF {
      color: #888;
      padding: 2.3rem 2.2rem;
      position: relative;
      padding: 30px;
      margin-left: -50px;
      margin-top: -40px;
      font-size: 20px;
    }
    
    .text {
      color: #888;
      margin: 1.5rem 0 2rem 0;
    }
    .clogout{
        color: #888;
        font-size: 13px;
        margin-top: 10px;
        margin-left: 0;
      }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }